.App {
  display: flex;
  flex-direction: column;

  position: relative;
  overflow: hidden;


  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    min-height: 100vh;
    // max-width: 124rem;
    width: 100%;
  }
}
