$WHITE: #fff;
$BLACK: #000;
$ERROR: #ff3333;
$MINT: #15b45d;
$GREY: #ccc;

$DARK_BACKGROUND_GRADIENT: linear-gradient(to bottom right, #1a1a1a, #14532d, #064e3b);
$DARK_PRIMAL_BLUE: #0f1e22;
$DARK_PRIMAL_GREEN: #14532d;
$DARK_PRIMAL_GREY: #6d7d7d;

$standardZIndex: 5;
$higherZIndex: 20;
